body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 1em;
  background-color: #f9f9f9;
}

#squareGraphicOutput {
  font-family: monospace;
  font-size: 1.2em;
  color: chocolate;
  line-height: 1.1;
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 100%;
  margin: auto;
}

.squareContainer {
  max-width: 100%;
  padding: 1em;
  box-sizing: border-box;
}
